# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
# Don't remove the empty line at the end of this file. It is required to run the cron job
0 0 * * 1 /code/web photo weeklyphoto >> /code/data/cron-weeklyphoto.log
58 1 * * * php /code/importdb.php >> /code/data/cron-importdb.log
0 23 * * * /code/web activity calendar notify >> /code/data/cron-activitycalendar.log
0 * * * * /code/publicarchive.sh >> /code/data/cron-publicarchive.log
