$transition-duration: 200ms;

$transition-duration-fast: 100ms;

// breakpoints
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


$panel-color: #414141;

// Grid
$grid-gap: 1rem;