$transition-duration: 200ms;

$transition-duration-fast: 100ms;

// breakpoints
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


$panel-color: #414141;

// Grid
$grid-gap: 1rem;

// Card
$card-border-color: #f2f2f2;
$card-active-color: #f8f8f8;

// FontAwesome
$fa-font-path: "../fonts/fontawesome";
