@import 'variables';
@import 'bootstrap-variables';
@import 'bootstrap';

// Mixins
@import 'mixins/aspect-ratio';
@import 'mixins/buttons';
@import 'mixins/vendor-prefixes';
@import 'mixins/markdown';
@import 'mixins/autocomplete';

// Components
@import 'components/badges';
@import 'components/banner';
@import 'components/breadcrumbs';
@import 'components/button-groups';
@import 'components/buttons';
@import 'components/card';
@import 'components/chips';
@import 'components/flag-icon';
@import 'components/footer';
@import 'components/forms';
@import 'components/grid';
@import 'components/headings';
@import 'components/jumbotron';
@import 'components/layout';
@import 'components/logo';
@import 'components/links';
@import 'components/list-group';
@import 'components/md-editor';
@import 'components/navbar';
@import 'components/panels';
@import 'components/progress';
@import 'components/reveal';
@import 'components/sections';
@import 'components/tables';
@import 'components/thumbnails';
@import 'components/type';

// Module specific styles
@import 'modules/company';
@import 'modules/photo';
@import 'modules/frontpage';
@import 'modules/activity-admin';
@import 'modules/activity-calendar';
@import 'modules/activity-form';

// FontAwesome
@import "fontawesome/fontawesome.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";   //Footer icons
@import "fontawesome/v4-shims.scss"; //For bootstrap markdown editor which expects v4

//GEWIS icons
@import "gewisicons/gewisicons.scss";
