@import 'main';

.styleguide-swatch {
    display: block;
    width: 50px;
    height: 50px;

    box-shadow: inset 0 0 0 50px;
    border: 1px solid;

    &.primary { color: $brand-primary; }
    &.success { color: $brand-success; }
    &.warning { color: $brand-warning; }
    &.danger {
        color: $brand-danger;
        box-shadow: none;
    }
}

.nav.styleguide-nav {
    > li > a,
    > li > ul > li > a {
        text-decoration: none;
        color: $text-color;
        border-left: 1px solid transparent;
        background: none;

        transition: color $transition-duration, border $transition-duration;
    }

    > li.active > a,
    > li > a:hover,
    > li > ul > li > a:hover {
        color: $brand-primary;
        border-left-color: $brand-primary;
    }

    > li > a {
        padding: 3px 0 3px 10px;
    }

    > li > ul {
        list-style: none;
        padding-left: 0;
    }

    > li > ul > li > a {
        display: block;
        padding: 2px 0 2px 20px;
        font-size: 0.85em;
    }
}

.styleguide-section {
    margin-bottom: 20px;

    > h1:first-child,
    > h2:first-child {
        margin-top: 0;
    }
}

h1, h2, h3 {
    .permalink {
        position: absolute;
        margin-left: -2em;
        padding-right: 15px;
        width: 2em;
        text-align: right;

        color: inherit !important;
        font-size: 0.5em;
        line-height: 2.3em;

        opacity: 0;

        transition: opacity $transition-duration;
    }

    &:hover .permalink {
        opacity: 1;
    }
}

.styleguide-list-group {
    .list-group-item {
        padding: 10px 15px 15px
    }

    .styleguide-item-example {
        margin-top: 5px;
    }

    .list-group-item-heading + .styleguide-item-example {
        margin-top: 10px;
    }
}

.styleguide-markup {
    margin: 0;
    border-width: 0;
    border-top: 1px;

    ol {
        margin-bottom: 0;
    }
}
