{% extends 'emails/_base.html.twig' %}

{% block emailTitle %}Request to reset password{% endblock %}
{% block preheader %}Request&nbsp;to&nbsp;reset&nbsp;password{% endblock %}
{% block heading %}Reset Your Password{% endblock %}
{% block subheading %}Reset your password for the GEWIS website{% endblock %}
{% block body %}
    <p>Dear {{ fullName }},</p>
    <p>We have received a request to reset your password. You can reset it using the following link (valid for 15 minutes):<br><a href="{{ resetUrl }}" style="color: #C40000; text-decoration: none;" target="_blank" rel="noopener nofollow">{{ resetUrl }}</a></p>
    <p>If you have previously requested to reset your password, only the link contained in this email is valid.</p>
    <p>If you have not requested a password reset, do not worry! Your account is safe and secure. You can ignore this email and log in to the GEWIS website using your current password.</p>
    With kind regards,<br> The ApplicatieBeheerCommissie
{% endblock %}
{% block footerNoteSection %}{% endblock %}
