*~
.*.DS_Store
.*.sw?
._*
.buildpath
.editorconfig
.git
.gitattributes
.gitignore
.idea
.mysql
.project
.sass-cache
.settings
.vagrant
.vs
.~lock.*
Makefile
autoload_classmap.php
docker
docker-compose.*
gewisweb-vagrant
nbproject
node_modules
public/css/gewis-theme.css
public/css/gewis-theme.css.map
public/styleguide
vendor
