*~
*autoload_classmap.php
*.gitignore
*.log
.*.DS_Store
.*.sw?
._*
.buildpath
.editorconfig
.env
.env.dist
.git/
.gitattributes
.idea/
.mysql/
.project
.sass-cache/
.settings
Vagrantfile
.vagrant/
.vs/
.~lock.*
Makefile
autoload_classmap.php
composer.phar
config/autoload/doctrine.local.php
config/autoload/doctrine.external.php
config/autoload/gewisdb.local.php
config/autoload/local.php
config/autoload/zdt.local.php
data/cache/*
data/DoctrineORMModule/
data/keys/jwt-key
data/keys/jwt-key.pub
data/logs/*
data/mail/*
docker/nginx/
Dockerfile
docker-compose.*
gewisweb-vagrant/
nbproject
node_modules/
public/css/gewis-theme.css
public/css/gewis-theme.css.map
public/data/education_temp_exams/
public/data/education_temp_summaries/
public/data/meeting-documents/
public/data/meeting-notes/
public/data/photo/
public/styleguide/
vendor/
