*~
.*.DS_Store
.*.sw?
._*
.buildpath
config/autoload/doctrine.local.php
config/autoload/doctrine.external.php
config/autoload/gewisdb.local.php
config/autoload/local.php
config/autoload/zdt.local.php
.env
.env.dist
.idea
.mysql
.project
.sass-cache/
.settings
.vagrant/
.vs/
.~lock.*
Makefile
autoload_classmap.php
docker/
Dockerfile
docker-compose.*
gewisweb-vagrant/
nbproject
node_modules/
public/css/gewis-theme.css
public/css/gewis-theme.css.map
public/styleguide/
vendor/
