# Zend settings
# Use production or development
APP_ENV=production

# Address for the Glide image server. Set to https://images.gewis.nl for production deployment behind nginx
GLIDE_HOST=http://localhost:81
# Signing key for the Glide image server
GLIDE_KEY='v-LK4WCdhcfcc%jt*VC2cj%nVpu+xQKvLUA%H86kRVk_4bgG8&CWM#k*b_7MUJpmTc=4GFmKFp7=K%67je-skxC5vz+r#xT?62tT?Aw%FtQ4Y3gvnwHTwqhxUh89wCa_'

# Nginx settings
# Use off or "\"Restricted\"" (or another escaped string); also required an entry in docker/nginx/.htpasswd
NGINX_REQUIRE_AUTH=off

# Mail settings for production (postfix)
SMTP_SERVER=mail.gewis.nl
SMTP_PORT=587
SMTP_USERNAME=service-web@gewis.nl
SMTP_PASSWORD=gewis
SERVER_HOSTNAME=gewis.nl

# Google Calendar API (Option Calendar) settings
DOCKER_GOOGLE_API_KEY=unknown
DOCKER_GOOGLE_CALENDAR_KEY=unknown

# These are the environment variabled for the databse used for all application data
DOCKER_DB_HOST=mysql
DOCKER_DB_PORT=3306
DOCKER_DB_USERNAME=gewis
DOCKER_DB_PASSWORD=gewis
DOCKER_DB_DATABASE=gewis

# These are the environment variabled for retrieving membership data (and others) from the gewisdb project
DOCKER_DB2_HOST=postgres
DOCKER_DB2_PORT=5432
DOCKER_DB2_USERNAME=username
DOCKER_DB2_PASSWORD=password
DOCKER_DB2_DATABASE=database

# These settings are for accessing the server containing the public archive for synchronization (production only)
SSH_USERNAME=gewis
SSH_PASSWORD=gewis

# These are the settings for Matomo (Analytics)
MATOMO_DATABASE_HOST=mysql
MATOMO_DATABASE_PORT=3306
MATOMO_DATABASE_USERNAME=gewis
MATOMO_DATABASE_PASSWORD=gewis
MATOMO_DATABASE_DBNAME=gewis

# These are the environment variables for PhpMyAdmin, only used in docker-compose.override.yaml for development
PMA_HOST=mysql
PMA_USER=gewis
PMA_PASSWORD=gewis

# These are the environment variables for MySQL, only used in docker-compose.override.yaml for development
MYSQL_ROOT_PASSWORD=gewis
MYSQL_DATABASE=gewis
MYSQL_USER=gewis
MYSQL_PASSWORD=gewis
MYSQL_ALLOW_EMPTY_PASSWORD='yes'
