nbproject
._*
.~lock.*
.*.sw?
*~
*.kate-swp
.buildpath
*.DS_Store
.env
.idea/sonarlint/
.project
.settings
vendor/
gewisweb-vagrant/
node_modules/
.sass-cache/
.scannerwork/
public/css/gewis-theme.css
public/css/gewis-theme.css.map
public/styleguide/
autoload_classmap.php
.mysql
.vagrant/
.vs/

*.cache
