{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "useDefineForClassFields": false
        }
    },
    "sourceMaps": false,
    "minify": false,
}
