language: php
sudo: false
php:
  - 5.4
  - 5.5
  - 5.6

before_script:
    - composer install --prefer-source --ignore-platform-reqs

script:
  - phpunit --configuration module/User/test/phpunit.xml
  - phpunit --configuration module/Decision/test/phpunit.xml
  - (if (./web orm:validate-schema --no-ansi --no-interaction | grep -q "\[Mapping\]  FAIL"); then exit 1; else exit 0; fi)
