#x-shared-envs: &shared-envs
#    APP_ENV: ''
#    NONCE_REPLACEMENT_STRING: ''

services:
    nginx:
        image: abc.docker-registry.gewis.nl/web/gewisweb/nginx:latest
        env_file:
            - .env
#        environment:
#            <<: *shared-envs
#            NGINX_REQUIRE_AUTH: ''
        depends_on:
            - web
            - glide
            - matomo
        volumes:
            - gewisweb_public:/code/public:ro
            - gewisweb_glide_public:/glide/public:ro
            - gewisweb_matomo:/var/www/html:ro
            - gewisweb_logs:/etc/nginx/logs:rw
        networks:
            - gewisweb_network
        ports:
            - "9200:9200"
            - "9201:9201"
            - "9202:9202"
        restart: unless-stopped
    web:
        image: abc.docker-registry.gewis.nl/web/gewisweb/web:production
        env_file:
            - .env
#        environment:
#            <<: *shared-envs
#            GLIDE_HOST: ''
#            GLIDE_KEY: ''
#            DOCKER_GOOGLE_API_KEY: ''
#            DOCKER_GOOGLE_CALENDAR_KEY: ''
#            DOCKER_SUPREMUM_API_KEY: ''
#            DOCKER_DB_HOST: ''
#            DOCKER_DB_PORT:
#            DOCKER_DB_USERNAME: ''
#            DOCKER_DB_PASSWORD: ''
#            DOCKER_DB_DATABASE: ''
#            DOCKER_DB2_HOST: ''
#            DOCKER_DB2_PORT:
#            DOCKER_DB2_USERNAME: ''
#            DOCKER_DB2_PASSWORD: ''
#            DOCKER_DB2_DATABASE: ''
#            MAIL_FROM_ADDRESS=
#            MAIL_FROM_NAME='Study Association GEWIS'
#            MAIL_TO_ACTIVITY_CREATION_ADDRESS=
#            MAIL_TO_ACTIVITY_CREATION_NAME=
#            MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_ADDRESS=
#            MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_NAME=
#            MAIL_TO_ACTIVITY_CALENDAR_ADDRESS=
#            MAIL_TO_ACTIVITY_CALENDAR_NAME=
#            MAIL_TO_ORGAN_UPDATE_ADDRESS=
#            MAIL_TO_ORGAN_UPDATE_NAME=
#            MAIL_TO_POLL_CREATION_ADDRESS=
#            MAIL_TO_POLL_CREATION_NAME=
#            MATOMO_DOMAIN: ''
#            SSH_USERNAME: ''
#            SSH_PASSWORD: ''
#            SSH_REMOTE: ''
        depends_on:
            - memcached
            - postfix
        volumes:
            - gewisweb_data:/code/data:rw
            - gewisweb_public:/code/public:rw
        networks:
            - gewisweb_network
        restart: unless-stopped
    glide:
        image: abc.docker-registry.gewis.nl/web/gewisweb/glide:latest
        env_file:
            - .env
#        environment:
#            GLIDE_HOST: ''
#            GLIDE_KEY: ''
        volumes:
            - gewisweb_glide_cache:/glide/cache:rw
            - gewisweb_glide_public:/glide/public:rw
            - gewisweb_public:/code/public:rw
        networks:
            - gewisweb_network
        restart: unless-stopped
    postfix:
        image: juanluisbaptiste/postfix
        env_file:
            - .env
#        environment:
#            SMTP_SERVER: ''
#            SMTP_PORT: ''
#            SMTP_USERNAME: ''
#            SMTP_PASSWORD: ''
#            SERVER_HOSTNAME: ''
        networks:
            - gewisweb_network
        restart: unless-stopped
        stop_grace_period: 60s
    memcached:
        image: memcached
        entrypoint: ['memcached', '-m 256']
        networks:
            - gewisweb_network
        restart: unless-stopped
    matomo:
        image: abc.docker-registry.gewis.nl/web/gewisweb/matomo:latest
        env_file:
            - .env
#        environment:
#            MATOMO_DATABASE_HOST: ''
#            MATOMO_DATABASE_PORT: ''
#            MATOMO_DATABASE_USERNAME: ''
#            MATOMO_DATABASE_PASSWORD: ''
#            MATOMO_DATABASE_DBNAME: ''
        volumes:
            - gewisweb_matomo:/var/www/html:rw
        networks:
            - gewisweb_network
        restart: unless-stopped

volumes:
    gewisweb_data:
    gewisweb_public:
    gewisweb_glide_cache:
    gewisweb_glide_public:
    gewisweb_logs:
    gewisweb_matomo:

networks:
    gewisweb_network:
