version: '2'
services:
    web:
        build: docker
        volumes:
            - .:/code
            - ./docker/php.ini:/usr/local/etc/php/conf.d/default.ini
            #- ./docker/php-fpm.conf:/usr/local/etc/php-fpm.conf
        networks:
            - gewisweb

    nginx:
        image: nginx:1.10
        volumes:
            - .:/code
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - web
        networks:
            - gewisweb

    webmysql:
        image: mysql:5.5.44
        volumes:
            - .mysql/dev:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: gewis
            MYSQL_DATABASE: gewis
            MYSQL_USER: gewis
            MYSQL_PASSWORD: gewis
            MYSQL_ALLOW_EMPTY_PASSWORD: gewis
        networks:
            - gewisweb

    myadmin:
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_HOST: webmysql
            PMA_USER: gewis
            PMA_PASSWORD: gewis
        volumes:
            - /sessions
        networks:
            - gewisweb

networks:
    gewisweb:
        driver: bridge
