<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="GEWISWEB Coding Standard">
    <arg name="basepath" value="." />
    <arg name="colors" />
    <arg name="error-severity" value="1" />
    <arg name="extensions" value="php,dist" />
    <arg name="parallel" value="75" />
    <arg name="warning-severity" value="1" />

    <arg value="nps" />

    <file>config</file>
    <file>migrations</file>
    <file>public</file>
    <file>src</file>
    <file>tests</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>config/reference.php</exclude-pattern>

    <rule ref="GEWISPHPCodingStandards" />

    <!-- Legacy code that cannot be easily changed, so ignore for now -->
    <rule ref="Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps">
        <exclude-pattern>src/Entity/Decision/Decision.php</exclude-pattern>
        <exclude-pattern>src/Entity/Decision/MailingList.php</exclude-pattern>
        <exclude-pattern>src/Entity/Decision/MeetingMinutes.php</exclude-pattern>
        <exclude-pattern>src/Entity/Decision/SubDecision.php</exclude-pattern>
        <exclude-pattern>src/Controller/Photo/PhotoController.php</exclude-pattern>
    </rule>

    <rule ref="Generic.Files.LineLength.TooLong">
        <exclude-pattern>src/DataFixtures/Frontpage/PageFixture.php</exclude-pattern>
    </rule>
</ruleset>
