parameters:
    level: 1
    bootstrapFiles:
        - bootstrap.php
    paths:
        - module/Activity/src
        - module/Application/src
        - module/Company/src
        - module/Decision/src
        - module/Education/src
        - module/Frontpage/src
        - module/Photo/src
        - module/User/src
    reportUnmatchedIgnoredErrors: false
    tmpDir: phpstan
