includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    bootstrapFiles:
        - bootstrap.php
    paths:
        - config
        - bootstrap.php
        - module/Activity/src
        - module/Application/src
        - module/Company/src
        - module/Decision/src
        - module/Education/src
        - module/Frontpage/src
        - module/Photo/src
        - module/User/src
        - public/index.php
    reportUnmatchedIgnoredErrors: false
    tmpDir: data/cache/phpstan
