{% extends 'emails/_base.html.twig' %}

{% block emailTitle %}{{ organ.getName }} updated their profile{% endblock %}
{% block preheader %}{{ organ.getName }}&nbsp;updated&nbsp;their&nbsp;profile{% endblock %}
{% block heading %}Organ Profile Update{% endblock %}
{% block subheading %}Update proposal for organ profile{% endblock %}
{% block body %}
    <p>Dear board member,</p>
    <p>The organ <i>"{{ organ.getName }}"</i> has proposed updates to their organ profile. It requires your review before it will appear on the website.</p>
    <p><a href="{{ url('admin/decision/bodies/index') }}" style="color: #C40000; text-decoration: none;" target="_blank" rel="noopener nofollow">Click here</a> to view this update proposal.</p>
    With kind regards,<br> The ApplicatieBeheerCommissie
{% endblock %}
{% block footerNoteSection %}{% endblock %}
