{# `target` is the id (without #) of the collapsible filter panel this button toggles. #}
<button type="button" class="btn btn-outline-secondary"
        data-bs-toggle="collapse" data-bs-target="#{{ target }}"
        aria-expanded="false" aria-controls="{{ target }}">
    <i class="fas fa-sliders"></i> {{ 'Filters'|trans }}
</button>
