body {
    color: #414141;
    font-family: "Raleway",sans-serif;
    padding-top: 90px;
    padding-bottom: 40px;
}

/* navigation */
.navbar {
    border: none;
}
.navbar-default {
    background: transparent;
}
.navbar-default .navbar-nav {
    background-color: #fff;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.navbar-default .navbar-nav a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav .dropdown > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #BC5F5F;
    color: #fff;
}

/* Dropdown navigation */
.navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0;
}
.navbar-nav .dropdown-menu li a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* main container */
body > div.container {
    background-color: #f0f0f0;
}

/* Jumbotron */
.jumbotron {
    position: relative;
    background: url(../img/Panorama.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -90px;
    margin-bottom: 0;
}
.jumbotron:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 512;
}
.jumbotron a img {
    position: relative;
    z-index: 1024;
    height: 130px;
    width: auto;
}
/* Large version of jumbotron, for the frontpage */
.jumbotron.jumbotron-large {
    padding-top: 100px;
    padding-bottom: 100px;
}
.jumbotron.jumbotron-large a img {
    height: auto;
}

/* Footer */
footer {
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -10px;
    color: #fff;
    background-color: #bc5f5f;
}
footer a {
    color: #fff;
}
