{% extends 'layout-admin.html.twig' %}

{% block page_title %}{{ 'Overview'|trans|page_title }}{{ parent() }}{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-md-12">
            {# TODO #}
        </div>
    </div>
{% endblock %}
