<style>
    #cal-slide-content {
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    #cal-slide-content {
        padding: 1em;
    }

    #cal-slide-content h1 {
        margin: 1em 0 0.8em;
        font-size: 24px;
    }

    #cal-slide-content {
        padding-top: 0;
    }

    .list-inside {
        list-style-position: inside;
        padding-left: 0;
    }
</style>
<%
    Date.prototype.getFullHours = function() {
        return ((this.getHours() < 10) ? '0' : '') + this.getHours();
    };

    Date.prototype.getFullMinutes = function() {
        return ((this.getMinutes() < 10) ? '0' : '') + this.getMinutes();
    };

    Date.prototype.getDigitalTime = function() {
        return this.getFullHours() + ':' + this.getFullMinutes();
    };

    var hasPlanned = false;
    var hasOptions = false;
%>
<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
    <div class="row">
        <div class="col-sm-6">
            <h1>Planned</h1>
            <ul class="unstyled list-unstyled">
                <% _.each(events, function(event) { %>
                    <% if (event.isPlanned === "true") { %>
                    <%
                        hasPlanned = true;

                        var startDate = new Date(event.start);
                        var endDate = new Date(event.end);
                    %>
                    <li>
                        <span class="pull-left event <%= event['class'] %>"></span>&nbsp;
                        <a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                           data-event-id="<%= event.id %>"
                           data-event-class="<%= event['class'] %>"
                           class="event-item"
                           target="_blank"
                           title="View <%= event.title %> on Google Calendar"
                        >
                            <%= event.title %>
                            <%=
                                '(' + startDate.getDigitalTime() + ' - ' + endDate.getDigitalTime() + ')'
                            %>
                        </a>
                    </li>
                    <% } %>
                <% }) %>
                <% if (!hasPlanned) { %>
                <li>
                    <i>No planned activities</i>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1>Options</h1>
            <ol class="list-inside">
                <% _.each(events, function(event) { %>
                    <% if (event.isPlanned !== "true") { %>
                    <%
                        hasOptions = true;

                        var startDate = new Date(event.start);
                        var endDate = new Date(event.end);
                    %>
                    <li>
                        <a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                           data-event-id="<%= event.id %>"
                           data-event-class="<%= event['class'] %>"
                           class="event-item"
                           target="_blank"
                           title=""
                        >
                            <%= event.title %>
                            <%=
                                '({0} - {1})'.format(
                                    startDate.getDigitalTime(),
                                    endDate.getDigitalTime()
                                )
                            %>
                        </a>
                        <% if (event.isOwner === "true") { %>
                        <form method="post" class="form form-inline form-delete">
                            <button type="submit">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </form>
                        <% } %>
                    </li>
                    <% } %>
                <% }) %>
            </ol>
            <% if (!hasOptions) { %>
            <i>No options</i>
            <% } %>
        </div>
    </div>
</div>