<style>
    #cal-slide-content {
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    #cal-slide-content h1 {
        margin: 0 0 0.8em;
        font-size: 24px;
    }

    .row-offset-top {
        margin-top: 10px;
    }
</style>
<%
    Date.prototype.getFullHours = function() {
        return ((this.getHours() < 10) ? '0' : '') + this.getHours();
    };

    Date.prototype.getFullMinutes = function() {
        return ((this.getMinutes() < 10) ? '0' : '') + this.getMinutes();
    };

    Date.prototype.getDigitalTime = function() {
        return this.getFullHours() + ':' + this.getFullMinutes();
    };
%>
<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
    <div class="row">
        <div class="col-sm-6">
            <h1>Planned</h1>
            <ul class="unstyled list-unstyled">
                <% _.each(events, function(event) { %>
                <li>
                    <%
                        var startDate = new Date(event.start);
                        var endDate = new Date(event.end);
                    %>

                    <span class="pull-left event <%= event['class'] %>"></span>&nbsp;
                    <a href="<%= event.url ? event.url : 'javascript:void(0)' %>"
                       data-event-id="<%= event.id %>"
                       data-event-class="<%= event['class'] %>"
                       class="event-item"
                       target="_blank"
                       title="View <%= event.title %> on Google Calendar"
                    >
                        <%= event.title %>
                        <%=
                            '(' + startDate.getDigitalTime() + ' - ' + endDate.getDigitalTime() + ')'
                        %>
                    </a>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1>Dibs</h1>
            <ul class="unstyled list-unstyled">
                <li>
                    <span class="pull-left event event-inverse"></span>&nbsp;
                    <a href="javascript:void(0);"
                       data-event-id="1"
                       data-event-class="info"
                       class="event-item"
                       target="_blank">
                        Een optie
                    </a>
                </li>
                <li>
                    <span class="pull-left event event-inverse"></span>&nbsp;
                    <a href="javascript:void(0);"
                       data-event-id="1"
                       data-event-class="info"
                       class="event-item"
                       target="_blank">
                        Een optie
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row row-offset-top">
        <div class="col-sm-6">
            <a href="#">
                <button class="btn btn-primary">Add activity</button>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="#">
                <button class="btn btn-primary">Add dibs</button>
            </a>
        </div>
    </div>
</div>
