<button type="button" class="btn btn-outline-secondary"
        data-bs-toggle="collapse" data-bs-target="#activity-filters"
        aria-expanded="false" aria-controls="activity-filters">
    <i class="fas fa-sliders"></i> {{ 'Filters'|trans }}
</button>
