{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Activity Archive'|trans|page_title }}{{ parent() }}{% endblock %}

{% block contents %}
    <h1>{{ 'Activity Archive'|trans }}</h1>
    {{ component('Activity:ActivityOverview', { past: true, fromDate: yearStart, untilDate: yearEnd }) }}
{% endblock %}
