{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Activities'|trans|page_title }}{{ parent() }}{% endblock %}

{% block contents %}
    <h1>{{ 'Activities'|trans }}</h1>
    {{ component('Activity:ActivityOverview', { categoryFilter: initialCategory }) }}
{% endblock %}
