{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'Photos'|page_title }}{{ parent() }}{% endblock %}

{% block contents %}
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2 mb-3">
        <h1 class="mb-0">{{ 'Photos'|trans }}</h1>

        {% if years is not empty %}
            <div class="d-flex flex-wrap align-items-center gap-2">
                {% include 'partials/filter-toggle.html.twig' with { target: 'photo-filters' } only %}

                {% include 'partials/year-switcher.html.twig' with {
                    route: 'photo/index',
                    year: year,
                    years: years,
                    all_years: false,
                } only %}
            </div>
        {% endif %}
    </div>

    {{ component('Photo:AlbumOverview', { year: year }) }}
{% endblock %}
