{% extends 'emails/_base.html.twig' %}

{% block emailTitle %}New poll requested{% endblock %}
{% block preheader %}New&nbsp;poll&nbsp;requested{% endblock %}
{% block heading %}Poll Requested{% endblock %}
{% block subheading %}A new poll has been requested{% endblock %}
{% block body %}
    <p>Dear board member,</p>
    <p><i>{{ poll.getCreator.getFullName }}</i> has created a new poll. It requires your review before it will appear on the website.</p>
    <p><a href="{{ url('admin/frontpage/polls/index') }}" style="color: #C40000; text-decoration: none;" target="_blank" rel="noopener nofollow">Click here</a> to view this poll. The question of this poll is <i>"{{ poll.getQuestion.getValueEN }}"</i>.</p>
    With kind regards,<br> The ApplicatieBeheerCommissie
{% endblock %}
{% block footerNoteSection %}{% endblock %}
