.form-activity {
    .signup-lists-header {
        display: none;

        @media (max-width: $screen-sm-max) {
            display: none !important;
        }
    }

    .signup-lists,
    .signup-list-fields {
        @media (max-width: $screen-md-max) {
            .flag-icon-en,
            .flag-icon-nl {
                display: inline-block;
            }
        }

        @media (min-width: $screen-md-min) {
            .flag-icon-en,
            .flag-icon-nl {
                display: none;
            }
        }
    }

    .field,
    .signup-list {
        margin-bottom: 2rem;
    }

    @import 'form';
}

.container > section {
    padding: 0;
}
