.option-calendar {

    .calendarTitleHeader {
        display: inline;
        margin-left: 1em;
        margin-top: .2em;
    }

    .calendar-control {
        margin-top: 20px;
    }

    .dropdown .dropdown-menu {
        padding: 10px;

        form {
            width: 300px;
        }
    }


}
