/*
Company

*/
@import '../_variables.scss';

.company-list {

    .company-list-item {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    img.company-logo {
        margin: 2em auto;
    }
}

.company-grid {
    .company-grid-item {
        //border: 1px solid darken(#fff, 20%);
        height: 25em;
    }

    img.company-logo {
        margin: 2em 0;
        max-height: 5em;
    }

    @media (min-width: $screen-sm-min) {
        img.company-logo {
            margin: 2em auto;
        }
    }

}
