/*
Company

*/
@import '../_variables.scss';

.company-list {

    .company-list-item {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    img.company-logo {
        margin: 2em auto;
    }
}

.job-list {
    .job-list-item {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    img.company-logo {
        margin: 2em auto;
    }
}

.company-grid {
    .company-grid-item {
        border: 1px solid darken(#fff, 20%);
        border-radius: 5px;
        height: 17em;
        margin-bottom: 8em;
    }

    .company-grid-content {
        max-width: 20em;
        margin: 0 auto;
        position: relative;
        height: 15em;
    }

    img.company-logo {
        margin: 2em 0;
        max-height: 5em;
    }

    div.company-grid-text {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 1em;
    }

    @media (min-width: $screen-sm-min) {
        img.company-logo {
            margin: 2em auto;
        }
    }

}
