/*
Frontpage

*/
@import '../_variables.scss';
.organ-banner {
    @include aspect-ratio(16, 4);
    background-size: cover;
    background-position: center;
}

/** CKEditor 5 */
.image.image_resized > img {
    max-width: 100%;
    height: auto !important;
}

/** Technically not in the frontpage files, but best description */
.section-admin-notice {
    background-color: #005AB4;
    color: #FFFFFF;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
}

.section-admin-notice > p {
    margin: 0;
}
