.privacy-widget {
    left: 0;
    bottom: 0;
    z-index: 2147483647;
    display: block;
    position: fixed;
    margin: 1rem;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));

    &.open {
        width: 30rem;
        height: 30rem;
        font-size: 1.25rem;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
    }

    &.closed {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        opacity: 0.25;
        transition: all 0.5s ease-in-out;

        &:hover {
            opacity: 1;
            filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
        }

        > .widget-popout {
            display: none;
        }
    }

    > .widget-popout {
        padding: 1rem;
        margin: 1rem;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 5rem;
        left: -1rem;
        border-radius: 0.375rem;

        &:after {
            top: 100%;
            left: 2rem;
            border: 1rem solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: #FFFFFF;
            margin-left: -1rem;
        }

        > .widget-dismiss {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    > .widget-button {
        font-size: 3rem;
        background-color: #D40026;
        width: 4rem;
        height: 4rem;
        left: 0;
        bottom: 0;
        position: absolute;
        border-radius: 1rem;

        > .gewis-base {
            width: 4rem;
            height: 4rem;
            text-align: center;
            color: #FFFFFF;
            display: inline-block;
        }
    }
}
