@import '../_variables.scss';

.card-grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    box-sizing: border-box;

    @media (min-width: $screen-sm-min) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: $screen-md-min) {
        & {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: $screen-lg-min) {
        & {
            grid-template-columns: repeat(4, 1fr);
        }

        &.company-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.card {
    position: relative;
    border: 1px solid $card-border-color;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;

    .card-body {
        padding: 1.5rem 1.5rem 0 1.5rem;
        flex-grow: 1;

        + .card-footer {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }
    }

    .card-footer {
        padding: 1.5rem;

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .card-body,
    .card-footer {
        transition: background 0.4s ease;
    }

    .card-img,
    .card-image {
        aspect-ratio: 16/9;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    .card-title {
        font-size: 1.75rem;
        font-weight: 600;
        margin: 0 0 0.75rem;
        color: $brand-primary;
    }

    .card-subtitle {
        margin: -0.5rem 0 0.75rem;
        font-size: 1.25rem;
    }

    .card-text {
        display: -webkit-box;
        line-height: 1.3;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &.company-card,
    &.job-card {
        .card-img,
        .card-image {
            aspect-ratio: unset;
            max-height: 10rem;
            padding: 1.5rem;
        }

        > .card-img,
        > .card-image {
            margin: 0 auto;
            width: fit-content;
        }

        > a:first-child:not(.stretched-link) {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    &.company-card {
        ul {
            list-style: none;
            padding: 0;
        }
    }

    .stretched-link:hover {
        ~ .card-body,
        ~ .card-footer {
            background-color: #f4f4f4;
        }
    }
}
