.navbar-gewis {
    --#{$prefix}navbar-active-color: #{$nav-link-color};
    --#{$prefix}navbar-bg: #{$navbar-bg};
    --#{$prefix}navbar-brand-color: #{$navbar-brand-color};
    --#{$prefix}navbar-brand-hover-color: #{$navbar-brand-color};

    background-color: var(--#{$prefix}navbar-bg);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);

    // Disable box-shadow if admin notice is present.
    &:not(:has(+ .section-admin-notice)) {
        box-shadow: none;
    }

    .dropdown-menu {
        --#{$prefix}dropdown-bg: #{$dropdown-bg};
        --#{$prefix}dropdown-spacer: #{$navbar-dropdown-spacer};

        @include border-top-start-radius(0);
        @include border-top-end-radius(0);
        border-top-width: 0;

        .dropdown-item {
            --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg};

            &:active,
            &.active {
                --#{$prefix}dropdown-link-active-bg: #{$dropdown-link-active-bg};
                --#{$prefix}dropdown-link-active-color: --#{$prefix}dropdown-link-color;
            }
        }
    }

    .dropdown-menu-end {
        --#{$prefix}dropdown-min-width: 8rem;
    }

    .dropdown-toggle:after {
        vertical-align:.1em
    }

    .offcanvas-lg {
        --#{$prefix}offcanvas-bg: #{$navbar-bg};
    }
}

.navbar-gewis-admin {
    --#{$prefix}sidebar-bg: #{darken($navbar-bg, 5%)};

    background-color: var(--#{$prefix}sidebar-bg);
    box-shadow: inset 0 1px 5px -3px rgba(0, 0, 0, 0.3), -1px 0 5px -3px rgba(0, 0, 0, 0.3);
    width: 11.5rem;
}

.navbar-gewis,
.navbar-gewis-admin {
    .nav-link {
        --#{$prefix}nav-link-color: #{$nav-link-color};
        --#{$prefix}nav-link-hover-bg: #{$nav-link-hover-bg};
        --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};

        &:hover {
            background-color: var(--#{$prefix}nav-link-hover-bg);
        }
    }

    .navbar-toggler {
        border: 0;
    }
}

.collapse-toggle {
    display: block;
    position: relative;
    width: 100%;

    @include caret("down", $vertical-align: 0.125rem);
}

@include color-mode(gewis-night) {
    .navbar-gewis{
        --#{$prefix}navbar-active-color: #{$nav-link-color-dark};
        --#{$prefix}navbar-bg: #{$navbar-bg-dark};
        --#{$prefix}navbar-brand-color: #{$navbar-brand-color-dark};
        --#{$prefix}navbar-brand-hover-color: #{$navbar-brand-color-dark};

        .dropdown-menu {
            --#{$prefix}dropdown-bg: #{$dropdown-bg-dark};

            .dropdown-item {
                --#{$prefix}dropdown-link-disabled-color: #{$dropdown-link-disabled-color-dark};
                --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg-dark};

                &:active,
                &.active {
                    --#{$prefix}dropdown-link-active-bg: #{$dropdown-link-active-bg-dark};
                    --#{$prefix}dropdown-link-active-color: #{$nav-link-color-dark};
                }
            }
        }

        .nav-link {
            --#{$prefix}nav-link-color: #{$nav-link-color-dark};
            --#{$prefix}nav-link-hover-bg: #{$nav-link-hover-bg-dark};
        }

        .offcanvas-lg {
            --#{$prefix}offcanvas-bg: #{$navbar-bg-dark};
        }
    }

    .navbar-gewis-admin {
        --#{$prefix}sidebar-bg: #{lighten($navbar-bg-dark, 5%)};
    }
}
