.activity-global {
    background-color: darken($brand-primary, 7%) !important;
    border-color: darken($brand-primary, 7%) !important;
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
    }
}

.activity-option-approved {
    background-color: #D029FF !important;
    border-color: #D029FF !important;
    color: #FFFFFF;
}

.activity-option-unapproved {
    background-color: #0077EA !important;
    border-color: #0077EA !important;
    color: #FFFFFF;
}

.fc-daygrid-block-event .fc-event-title-container {
    margin: 0 4px;
}

.fc-daygrid-event-dot {
    border: none !important;
    border-radius: 0 !important;
}

.fc {
    tr {
        height: 100%;
    }

    .fc-daygrid-day-frame {
        min-height: 116.867px !important;
    }
}
