.attendance-mode {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 100000000;
    padding: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;

        .searchbar {
            width: 100%;
            font-size: 3rem;
            flex: 1;

            &:focus {
                outline: none
            }
        }
    }

    .result-list {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;

        .result-list-message {
            font-size: 2rem;
            color: lightgray;
            width: 100%;
            text-align: center;
        }

        .result-element {
            border-bottom: solid darkgray 0.5px;
            display: flex;
            align-items: center;

            .text-container {
                flex: 1;
                overflow-x: hidden;

                .name {
                    display: inline-block;
                    font-size: 4rem;
                    width: 100%;
                }
            }

            .mark-as-present {
                background-color: forestgreen;
                color: white;
                font-size: 3rem;

                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
                margin-left: 1rem;

                align-content: center;
                text-align: center;
            }
        }

        .footer {
            width: 100%;
            height: 5rem;
        }
    }

    .exit-button {
        width: 4rem;
        height: 4rem;

        position: absolute;
        right: 0;
        bottom: 0;
        margin: 1rem;

        align-content: center;
        text-align: center;

        background-color: #D40026;
        color: white;
        font-size: 2.5rem;
        border-radius: 1rem;
        opacity: 0.25;
        transition: all 0.5s ease-in-out;

        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.draw-modal {
    padding: 0;
    border: 1px solid;
    outline: none;

    .header {
        background-color: $brand-primary;
        color: white;
        padding: 1rem;
        margin-bottom: 1rem;

        h2 {
            color: white;
            margin: 0;
        }
    }

    .body {
        padding-left: 1rem;
        padding-right: 1rem;

        textarea {
            width: 400px;
        }

        p {
            width: 400px;
        }
    }

    .footer {
        padding: 1rem;
        text-align: right;
    }
}
