.admin-section {
    h2 {
        margin-bottom: 0;
    }
}

.admin-approvable-overview {
    .overview-header,
    .overview-sidebar, {
        @media (max-width: $screen-sm-max) {
            display: none !important;
        }
    }

    .approvable-property {
        @media (max-width: $screen-md-max) {
            display: inline-block;
        }

        @media (min-width: $screen-md-min) {
            display: none;
        }
    }
}
