@import '../_bootstrap-variables.scss';
@import '../_variables.scss';

.filter-bar {
    padding: 0.5em 0;
    margin-bottom: 2em;
    background: $card-border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
        flex-shrink: 0;
    }

    .form-group {
        margin: 0;
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:last-child {
            border-right: 0;
        }

        > label {
            margin-right: 0.5em;
        }
    }

    @media (min-width: $screen-sm-min) {
        & {
            padding: 0;
        }

        .form-group {
            padding: 1em;
        }
    }
}

#job-search, #job-label, #job-sort {
    width: auto;
    min-width: 150px;
    max-width: 250px;
}
