/*
Badges

Markup:

Styleguide: badges
*/

.badge {
    background: $brand-primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    &.badge-large {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }
}

.list-group-item > .badge {
    float: none;
}
