/*
Button groups

Markup:
<div class="btn-group">
    <a class="btn btn-default">Left</a>
    <a class="btn btn-default">Middle</a>
    <a class="btn btn-default">Right</a>
</div>

Styleguide: button-groups
*/