.grid {
    display: grid;
    grid-gap: $grid-gap;

    .panel-image {
        margin: 0;
    }
}

.grid-col-3 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-col-5 {
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (max-width: $screen-xs-min - 1) {
    .grid-col-3, .grid-col-5 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid a.panel-image {
        display: flex;

        .big-icon {
            font-size: 1em;
            margin-right: 1em;
            line-height: normal;
        }
    }
}

@media only screen and (min-width: $screen-xs-min) {
    .grid-col-3, .grid-col-5 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .grid-col-5 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: $screen-lg-min) {
    .grid-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}
