.jumbotron {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow:
            inset 0 0 0 1000px rgba(0,0,0,0.5),
            inset 0 1px 5px rgba(0,0,0,0.3);

    background-size: cover;
    background-position: center;
}