html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;

    > * {
        flex: 0 0 auto;
    }
}

body > .content-container {
    flex: 1 0 auto;
}

p {
    line-height: 1.8;
}

p.lead {
    line-height: 1.6;
}
