/*
List group

Markup:

Styleguide: list-group
*/

a.agenda-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    padding: 0;
    border: none;
    color: $panel-color;

    &:first-child {
        margin-top: 0;
    }

    .badge {
        margin-right: 1em;
    }
}

a.agenda-item {
    &:hover {
        background: none;
        color: $brand-primary;
    }
}
