/*
Navbar

Markup:
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png"/>
        </a>
    </div>
</div>
<div class="navbar navbar-gewis">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png" style="-webkit-filter: grayscale(1) brightness(100);"/>
        </a>
    </div>
</div>

Styleguide: navbar
*/
.navbar {
    font-family: $font-family-alt;
    font-weight: 600;
    font-size: 15px;
}

.navbar-brand {
    @include transition(opacity $transition-duration ease);

    padding: 10px 15px;
    height: auto;

    &:hover,
    &:focus {
        opacity: 0.8;
    }
}

.navbar-default {
    background-color: #fff;

    .navbar-nav > li > a {
        color: $gray;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: darken($gray, 3%);
        background-color: darken(#fff, 4%);
    }

    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        color: darken($gray, 3%);
        background-color: darken(#fff, 7%);

        &:hover,
        &:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 9%);
        }
    }
}

.navbar-gewis {
    color: #fff;
    background-color: $brand-primary;

    .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background-color: darken($brand-primary, 3%);
    }

    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        background-color: darken($brand-primary, 6%);

        &:hover,
        &:focus {
            background-color: darken($brand-primary, 9%);
        }
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 30px 18px;
    }
}

.navbar-nav > li > a {
    @include transition(
        background $transition-duration ease,
        color $transition-duration ease
    );
}

.navbar-nav > li > .dropdown-menu {
    @include transition(
        opacity $transition-duration ease,
        visibility $transition-duration ease,
        transform $transition-duration ease
    );

    display: block;

    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);

    @include scale(1, 0.9);
    @include transform-origin(0 0);
    visibility: hidden;
    opacity: 0;

    > li > a {
        @include transition(
            background $transition-duration ease,
            color $transition-duration ease
        );

        padding: 6px 18px;

        color: $gray;
        font-family: $font-family-base;

        background-color: #fff;
    }

    > li > a:hover,
    > li > a:focus {
        color: darken($gray, 3%);
        background-color: darken(#fff, 4%);
    }
}

.navbar-nav > .open > .dropdown-menu {
    @include scale(1, 1);
    visibility: visible;
    opacity: 1;
}

.navbar + .jumbotron {
    margin-top: -20px;
}