@import '../variables';
@import '../bootstrap-variables';

/*
Navbar

Markup:
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png"/>
        </a>
    </div>
</div>
<div class="navbar navbar-gewis">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png" style="-webkit-filter: grayscale(1) brightness(100);"/>
        </a>
    </div>
</div>

Styleguide: navbar
*/

.navbar {
    margin: 0;

    font-family: $font-family-alt;
    font-weight: 500;
    font-size: 16px;

    a.disabled {
        background-color: #eee !important;
        color: #999 !important;
    }
}

.navbar-brand {
    @include transition(background $transition-duration ease);

    padding: 10px 15px;
    height: 80px;

    img {
        height: 100%;
    }
}

.navbar-default {
    background-color: #fff;

    .navbar-nav > li > a {
        color: $gray;
    }

    .navbar-nav > li > a,
    .navbar-brand {
        &:hover,
        &:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 4%);
        }
    }

    .navbar-nav > .active > a {
        color: darken($gray, 3%);
        background-color: #fff;
        padding-bottom: 27px;
        border-bottom: 3px solid $brand-primary;

        &:hover,
        &:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 4%);
        }
    }

    .navbar-nav > .open > a {
        &,
        &:hover,
        &:focus {
            margin-bottom: -1px;
            padding-left: 17px;
            padding-right: 17px;

            color: darken($gray, 3%);
            background-color: darken(#fff, 4%);

            border: 1px solid darken(#fff, 15%);
            border-bottom-color: darken(#fff, 4%);
            border-top: 0;
        }
    }

    .navbar-nav > li > .dropdown-menu {
        > li > a {
            color: $gray;
            background-color: darken(#fff, 4%);
        }

        > li > a:hover,
        > li > a:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 8%);
        }
    }

    .navbar-nav > .open > .dropdown-menu {
        border: 1px solid darken(#fff, 15%);
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        background-color: darken(#fff, 4%);

        > li > a {
            color: $gray;
        }
    }
}

.navbar-gewis {
    color: #fff;
    background-color: $brand-primary;

    border-bottom: 0;

    .navbar-toggle {
        margin: 23px 15px 23px 0;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-brand,
    .navbar-nav > li > a {
        &:hover,
        &:focus {
            background-color: darken($brand-primary, 3%);
        }
    }

    .navbar-nav > .active > a {
        background-color: darken($brand-primary, 6%);

        &:hover,
        &:focus {
            background-color: darken($brand-primary, 9%);
        }
    }

    .navbar-nav > .open > a {
        &,
        &:hover,
        &:focus {
            background-color: #fff;
            color: $gray;
        }

        .caret {
            transform: rotate(180deg);
        }
    }

    .navbar-nav > li > .dropdown-menu {
        @include transition(
            opacity $transition-duration ease,
            visibility $transition-duration ease
        );

        border: 1px solid rgba(0,0,0,0.1);
        border: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.1);
        background-color: #fff;

        > li > a {
            color: $gray;
            background-color: #fff;
        }

        > li > a:hover,
        > li > a:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 3%);
        }
    }
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-nav > li > a {
        padding: 30px 18px;
    }
}

/* Non collapsing items */

.navbar-nav.no-collapse > li > a {
    padding: 30px 18px;

    span.glyphicon {
        vertical-align: middle;
        font-size: 20px;
        margin-top: -5px;
    }
}

.navbar-nav.no-collapse {
    margin: 0 15px;

    .dropdown-menu {
        display: block;
        position: absolute;
    }

    &.navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}

/* /Non collapsing items */

.navbar-nav > li > a {
    @include transition(
        background $transition-duration ease,
        color $transition-duration ease
    );
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    min-width: 100%;

    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    @media (min-width: $grid-float-breakpoint) {
        display: block;
    }

    > li {
        min-width: 160px;
    }

    > li > a {
        @include transition(
            background $transition-duration ease,
            color $transition-duration ease
        );

        padding: 8px 17px;

        font-weight: 600;
        font-family: $font-family-alt;
    }
}

.navbar-nav > .open > a {
    position: relative;
    z-index: 1001;
}

.navbar-nav > .open > .dropdown-menu {
    //@include scale(1, 1);
    visibility: visible;
    opacity: 1;
}

.navbar-nav > li > .dropdown-login {
    padding: 15px;
    min-width: 240px;

    color: $gray;
    font-family: $font-family-base;
    font-weight: normal;

    p {
        margin: 10px 0 0;
        text-align: center;
    }
}

.nav {
    /* Disable hover in hamburger menu */

    li.dropdown.dropdown-hover.default > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        float: none;
        margin-top: 0;
        display: block;
    }

    @media (min-width: $grid-float-breakpoint) {
        li.dropdown.dropdown-hover.default:not(:hover) > .dropdown-menu {
            visibility: hidden;
            opacity: 0;
            display: none;
            position: absolute;
        }

        li.dropdown.dropdown-hover.default:hover > .dropdown-menu {
            position: absolute;
        }

        // open sub-menus on hover
        li.dropdown.dropdown-hover:hover > .dropdown-menu {
            visibility: visible;
            opacity: 1;
            display: block;
            position: absolute;
        }

    }
}

@media (max-width: $grid-float-breakpoint - 1px) {
    .navbar-collapse {
        clear: both;
    }
}
