/*
Navbar

Markup:
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png"/>
        </a>
    </div>
</div>
<div class="navbar navbar-gewis">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img src="/img/logo-header.png" style="-webkit-filter: grayscale(1) brightness(100);"/>
        </a>
    </div>
</div>

Styleguide: navbar
*/
.navbar {
    font-family: $font-family-alt;
    font-weight: 600;
    font-size: 15px;
}

.navbar-brand {
    @include transition(opacity $transition-duration ease);

    padding: 10px 15px;
    height: auto;

    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.navbar-default {
    color: $gray;
    background-color: #fff;

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: darken($gray, 3%);
        background-color: darken(#fff, 3%);
    }

    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        color: darken($gray, 3%);
        background-color: darken(#fff, 6%);

        &:hover,
        &:focus {
            color: darken($gray, 3%);
            background-color: darken(#fff, 8%);
        }
    }
}

.navbar-gewis {
    color: #fff;
    background-color: $brand-primary;

    .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background-color: darken($brand-primary, 3%);
    }

    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        background-color: darken($brand-primary, 6%);

        &:hover,
        &:focus {
            background-color: darken($brand-primary, 9%);
        }
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 30px 18px;
    }
}

.navbar-nav > li > a {
    @include transition(
        background $transition-duration ease,
        color $transition-duration ease
    );
}

.navbar + .jumbotron {
    margin-top: -20px;
}