@import '../bootstrap-variables';

/*
Sections

Markup:
<div class="section {{modifier_class}}">
  <div class="container-fluid">
      <h2>Section block</h2>
      <a class="btn btn-primary {{modifier_class}}">Button</a>
      <a class="btn btn-default {{modifier_class}}">Button</a>
  </div>
</div>

:default - Default section
.inverse - Dark section

Styleguide: section
*/
.section {
    padding: 50px 0;

    &.inverse {
        background: $body-inverse-bg;
        color: $text-inverse-color;
    }
}

.section {
    &.alt {
        background: #222;
        color: #FFF;
    }

    &.section-breadcrumb {
        padding: 0;
        background-color: #f5f5f5;
    }
}

.content-section {
    margin-bottom: 5rem;
}

.content-article {
    margin-bottom: 3rem;
}
