@import '../bootstrap-variables';

/*
Typography

Styleguide: typography
*/

/*
Font stacks

<p style="font-family: 'Lato', 'Arial', sans-serif">
    <code>'Lato', 'Arial', sans-serif</code> - Used for paragraphs, regular text
</p>

<p style="font-family: 'Raleway', sans-serif">
    <code>'Raleway', sans-serif</code> - Used for headings, buttons, and other components
</p>

Styleguide: typography.font-stacks
*/

/*
Headings

Markup:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>

Styleguide: typography.headings
*/

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
}

h1, .h1 {
    margin: 0 0 1.5rem;

    font-size: 3.6rem;
    font-weight: 400;
}

h2, .h2 {
    margin: 0 0 2rem;

    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $brand-primary;
}

h3, .h3 {
    margin: 0 0 1rem;

    font-size: 2rem;
    font-weight: 500;
}

h4, .h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

.page-header {
    margin-top: 0;
}

/*
Font features

Does not work in all browsers.

Markup:
<h1 class="{{modifier_class}}">1234567890</h1>

:default - Default
.font-feature-lnum - Lining numbers

Weight: 2

Styleguide: typography.font-features
*/

.font-feature-lnum {
    font-variant-numeric: lining-nums;
    @include font-feature-settings($lnum: 1);
}

/*
Lead paragraph.

Markup:
<p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus dictum lectus non dapibus. Mauris tempus
    lacus nec accumsan tristique. Ut tempor diam ac libero tincidunt faucibus.
</p>

*/

.lead {
    font-family: $font-family-alt;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7em;

    @media (max-width: $screen-sm-max) {
        font-size: 1.6rem;
    }
}
