<?php
return [
    'host'     => getenv('DOCKER_DB2_HOST'),
    'port'     => getenv('DOCKER_DB2_PORT'),
    'user'     => getenv('DOCKER_DB2_USERNAME'),
    'password' => getenv('DOCKER_DB2_PASSWORD'),
    'dbname'   => getenv('DOCKER_DB2_DATABASE'),
];
