<?php
return [
    'host'     => '$DOCKER_DB2_HOST',
    'port'     => '$DOCKER_DB2_PORT',
    'user'     => '$DOCKER_DB2_USERNAME',
    'password' => '$DOCKER_DB2_PASSWORD',
    'dbname'   => '$DOCKER_DB2_DATABASE',
];
