<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

declare(strict_types=1);

return [
    /**
     * Proxy configuration, used when determining user roles.
     */
    'proxy' => [
        'enabled' => true,
        'ip_addresses' => ['131.155.10.0/27', '131.155.10.128/27', '131.155.69.202'],
        'header' => 'X-Forwarded-For',
    ],

    /**
     * Email configuration.
     */
    'email' => [
        'transport' => 'Smtp',
        'options' => [
            'name' => 'gewis.nl',
            'host' => 'postfix',
            'port' => '25',
        ],
        'from' => [
            'address' => getenv('MAIL_FROM_ADDRESS'),
            'name' => getenv('MAIL_FROM_NAME'),
        ],
        'to' => [
            'activity_creation' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CREATION_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CREATION_NAME'),
            ],
            'activity_calendar' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CALENDAR_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CALENDAR_NAME'),
            ],
            'poll_creation' => [
                'address' => getenv('MAIL_TO_POLL_CREATION_ADDRESS'),
                'name' => getenv('MAIL_TO_POLL_CREATION_NAME'),
            ],
            'organ_update' => [
                'address' => getenv('MAIL_TO_ORGAN_UPDATE_ADDRESS'),
                'name' => getenv('MAIL_TO_ORGAN_UPDATE_NAME'),
            ],
            'activity_creation_require_GEFLITST' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_NAME'),
            ],
            'activity_creation_require_GEFLITST_planka' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_PLANKA_ADDRESS'),
                'key' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_PLANKA_KEY'),
                'name' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_PLANKA_NAME'),
            ],
        ],
    ],

    /*
     * API key for google calendar
     */
    'calendar' => [
        'google_api_key' => getenv('DOCKER_GOOGLE_API_KEY'),
        'google_calendar_key' => getenv('DOCKER_GOOGLE_CALENDAR_KEY'),
    ],

    /**
     * API key for retrieving an Infimum from Supremum.
     */
    'infimum' => [
        'supremum_api_url' => 'https://supremum.gewis.nl/api/random_infimum',
        'supremum_api_header' => 'X-Api-Key',
        'supremum_api_key' => getenv('DOCKER_SUPREMUM_API_KEY'),
    ],

    /**
     * The config for watermarking
     */
    'watermark' => [
        'tag' => getenv('WATERMARK_TAG'),
    ],

    /*
     * Path to folder in local filesystem available for browsing
     */
    'filebrowser' => [
        'folder' => getcwd() . '/public/publicarchive/',
        'valid_file' => '[^?*:;{}\\\]*',
    ],

    'glide' => [
        'base_url' => getenv('GLIDE_HOST'),
        'signing_key' => getenv('GLIDE_KEY'),
    ],

    /**
     * Settings for the league/commonmark Markdown converter.
     */
    'commonmark' => [
        'autolink' => [
            'allowed_protocols' => ['https', 'http'],
            'default_protocol' => 'https',
        ],
        'commonmark' => [
            'enable_em' => true,
            'enable_strong' => true,
            'use_asterisk' => true,
            'use_underscore' => true,
            'unordered_list_markers' => ['-', '*', '+'],
        ],
        'external_link' => [
            'internal_hosts' => 'gewis.nl',
            'open_in_new_window' => true,
            'html_class' => 'external-link',
            'nofollow' => '',
            'noopener' => 'external',
            'noreferrer' => 'external',
        ],
        'renderer' => [
            'block_separator' => '',
            'inner_separator' => '',
            'soft_break'      => '<br>',
        ],
        'html_input' => 'escape',
        'allow_unsafe_links' => false,
        'max_nesting_level' => 100,
        'max_delimiters_per_line' => 500,
    ],
];
