<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

declare(strict_types=1);

return [
    /**
     * Proxy configuration, used when determining user roles.
     */
    'proxy' => [
        'enabled' => true,
        'ip_addresses' => [],
        'header' => 'X-Real-IP',
    ],

    /**
     * Email configuration.
     */
    'email' => [
        'transport' => 'Smtp',
        'options' => [
            'name' => 'gewis.nl',
            'host' => 'postfix',
            'port' => '25'
        ],
        'from' => [
            'address' => getenv('MAIL_FROM_ADDRESS'),
            'name' => getenv('MAIL_FROM_NAME'),
        ],
        'to' => [
            'activity_creation' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CREATION_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CREATION_NAME'),
            ],
            'activity_calendar' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CALENDAR_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CALENDAR_NAME'),
            ],
            'poll_creation' => [
                'address' => getenv('MAIL_TO_POLL_CREATION_ADDRESS'),
                'name' => getenv('MAIL_TO_POLL_CREATION_NAME'),
            ],
            'organ_update' => [
                'address' => getenv('MAIL_TO_ORGAN_UPDATE_ADDRESS'),
                'name' => getenv('MAIL_TO_ORGAN_UPDATE_NAME'),
            ],
            'activity_creation_require_GEFLITST' => [
                'address' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_ADDRESS'),
                'name' => getenv('MAIL_TO_ACTIVITY_CREATION_REQUIRE_GEFLITST_NAME'),
            ],
        ],
    ],

    /*
     * API key for google calendar
     */
    'calendar' => [
        'google_api_key' => getenv('DOCKER_GOOGLE_API_KEY'),
        'google_calendar_key' => getenv('DOCKER_GOOGLE_CALENDAR_KEY')
    ],

    /**
     * API key for retrieving an Infimum from Supremum.
     */
    'infimum' => [
        'supremum_api_url' => 'https://supremum.gewis.nl/api/random_infimum',
        'supremum_api_header' => 'X-Api-Key',
        'supremum_api_key' => getenv('DOCKER_SUPREMUM_API_KEY'),
    ],

    /*
     * Path to folder in local filesystem available for browsing
     */
    'filebrowser_folder' => getcwd() . '/',

    'glide' => [
        'base_url' => getenv('GLIDE_HOST'),
        'signing_key' => getenv('GLIDE_KEY')
    ]
];
